.to-top{
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 55px;
    height: 50px;
    z-index: 9999;
    background-color: $bluish;
    overflow: hidden;
    cursor: pointer;
    .up{
        position: absolute;
        top: 60%;
        left: 50%;
        margin: -10px 0 0 -10px;
        width: 20px;
        height: 20px;
        border-left: 3px solid $white;
        border-top: 3px solid $white;
        transform: rotate(45deg);
    }
}

.errors {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px 5vw;
    background-color: $red;

    ol {
        margin: 0;
        list-style-type: none;
        padding: 0;

        li {
            color: $white;
        }
    }
}

.success {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px 5vw;
    background-color: $green;
}

.loading{
    display: none;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $white;
}
