.project-modal {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: $body-bg;
    .project-modal-content {
        background-color: $white;
        margin: 0;
        width: 100%;
        min-height: 100vh;
        .project-modal-header{
            height: 60px;
            overflow: hidden;
            padding: 0 3vw;
            .project-modal-title{
                color: $primary-font-color;
                font-weight: $bold;
                margin: 0;
                .project-modal-project{
                    font-size: 16px;
                    color: $mobile-collapsed-text;
                    font-weight: $regular;
                }
            }
            .project-modal-close-btn{
                height: 60px;
                opacity: 0.7;
                padding: 0 16px 0 0;
                background-color: transparent;
                border: none;
                img{
                    width: 20px;
                    height: 20px;
                }
                &:focus{
                    outline: none;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
        .project-modal-body{
            height: calc(100vh - 60px);
            .owl-carousel{
                height: calc(100vh - 60px);
                .owl-gallery-item{
                    .lazy-load{
                        width: 100%;
                        height: calc(100vh - 80px);
                        object-fit: contain;
                        padding: 0 55px;
                    }
                }
                .owl-nav{
                    margin-top: 0;
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    transform: translateY(-50%);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .owl-prev{
                        text-align: left;
                        &:focus{
                            outline: none;
                        }
                        &:hover{
                            background: none;
                            color: black;
                        }
                        span{
                            padding: 20px;
                            font-size: 25px;
                        }
                    }
                    .owl-next{
                        text-align: right;
                        &:focus{
                            outline: none;
                        }
                        &:hover{
                            background: none;
                            color: black;
                        }
                        span{
                            padding: 20px;
                            font-size: 25px;
                        }
                    }
                }

                .owl-dots{
                    .owl-dot{
                        &:focus{
                            outline: 0;
                        }
                        span{
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            border-radius: 0;
                            width: 20px;
                            height: 3px;
                            margin-left: 2px;
                            margin-right: 2px;
                            background: #ccc;
                            border:none;
                        }
                        &.active{
                            span{
                                background: #333;
                            }
                        }
                    }
                }
            }
        }
    }
}
