.preloader {
    z-index: 999999;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: fixed;
    background: $body-bg;
    margin-top: -180px;
    .load-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75px;
    }
}

.pageloader {
    z-index: 999999;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: fixed;
    background: $body-bg;
    margin-top: -180px;
    .load-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75px;
    }
    .load-spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -75px;
        margin-top: -75px;
        width: 150px;
        height: 150px;
        border: 2px solid transparent;
        border-bottom: 2px solid $primary-font-color;
        border-radius: 50%;
        animation: load 5s infinite;
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(900deg);
    }
    67% {
        transform: rotate(-900deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
