@media screen and (max-width: 992px){

    .landing-container{
        height: calc(80vh - 58px);
    }

    #content{
        margin-top: 58px;
    }

    .placement{
        display: none;
    }

    .nav-container{
        display: none;
    }

    .mobile-nav-container{
        display: block;
    }

    .custom-projects-container{
        .row{
            .gallery-item{
                .gallery-card{
                    height: calc(100vw / 3);
                }
            }
        }
    }

    footer{
        padding: 50px 10vw;
        .content-container{
            .footer-field{
                .footer-social-link{
                    padding: 8px 16px 8px 0;
                    display: inline;
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {

    .landing-container{
        height: calc(70vh - 58px);
    }

    .type-selection-container{
        min-height: 30vh;
        justify-content: center;
    }

    .custom-projects-container{
        .row{
            .gallery-item{
                .gallery-card{
                    height: calc(100vw / 2);
                    max-height: 200px;
                }
            }
        }
    }

}
