
// Body
$body-bg: #f6f6f6;

$navbar-toggler-color: #595959;
$secondary-bg: #323232;
$mobile-collapsed-text: #4e4d4d;

$bluish: #5fadc7;

$footer-bg: #141414;
$footer-text: #bcbcbc;

// Typography
@import url('https://fonts.googleapis.com/css?family=Overpass:100,200,300,400,600,700,800,900&subset=latin-ext');
$font-family: 'Overpass', sans-serif;
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;
$primary-font-color: #191919;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
