//IMPORTING SASS FILES
@import '~bootstrap/scss/bootstrap';
@import 'variables';

//GLOBAL
body {
    background: $body-bg;
    font-family: $font-family;
}

#content {
    margin-top: 180px;
}

.errors {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px 5vw;
    background-color: $red;

    ol {
        margin: 0;
        list-style-type: none;
        padding: 0;

        li {
            color: $white;
        }
    }
}

.success {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px 5vw;
    background-color: $green;
}

@import 'layout';

@import 'landing';


.selected-type {
    border: 1px solid #000;
    padding: 5px;
    p {
        margin: 0;
        font-size: 35px;
        font-weight: $black;
        text-transform: uppercase;
        text-align: center;
    }
}

//@import 'filters';

@import 'grid';

@import 'modal';

@import 'team';

@import 'contact';

@import 'responsive';
